+@model E_commerce_Project.ViewModel.SubCategoryVM
    @{ 
        string FormName = ViewBag.FormName;
    }
@using (Ajax.BeginForm(FormName ,new AjaxOptions { OnSuccess="onsuccess", OnFailure = "onfailure" }))
{
    <div class="container">
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(z => z.Name)
                @Html.TextBoxFor(z => z.Name, new { plaseholder = "Enter Name SubCategory", @class = "form-control" })
                @Html.ValidationMessageFor(z => z.Name)
            </div>
            @if (FormName == "PostSubCat" || FormName == "EditSubCat")
            {
                <div class="form-group">
                    @Html.LabelFor(z => z.CategoryFK)
                    @Html.DropDownListFor(z => z.CategoryFK, new SelectList(new E_commerce_Project.DAL.CategoryDAL().GetAll(), "ID", "Name"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(z => z.CategoryFK)
                </div>
            }
            @if (FormName == "EditSubCat")
            {
                @Html.HiddenFor(z => z.ID)
                @Html.HiddenFor(z => z.CreatedBy)
                @Html.HiddenFor(z => z.CreationDate)
            }
            @if (FormName == "EditSubCat")
            {
                <button type="submit" class="btn btn-info">Edit</button>
            }
            else if (FormName == "PostSubCat")
            {
                <button type="submit" class="btn btn-success">Save</button>
                <button type="reset" class="btn btn-danger">Clear</button>
            }
        </div>
    </div>
}
