<!DOCTYPE html>
@{
    var CurrentUser = (E_commerce_Project.Models.User)Session["user"];
    int n;
    if (Session["UserOrder"] == null)
    {
        n = 0;
    }
    else
    {
        n = ((List<E_commerce_Project.Models.OrderDetails>)Session["UserOrder"]).Count;
    }
}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AMA Shop</title>
    <link rel="stylesheet" href="~/customs/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/customs/css/owl/owl.carousel.min.css">
    <link rel="stylesheet" href="~/customs/css/owl/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/customs/webfont/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/customs/css/he-fo.css">
    <link rel="stylesheet" href="~/customs/css/style.css">
    <script src="~/Customs/js/jQuery3.js"></script>
</head>
<body>
    <header class="w-100 ">
        <div class="container">
            <!-- First Header-->
            <div class="first-header">
                <div class="row">
                    <div class="col-md-3 col-12">
                        <a href="index.html" class="logo text-center">
                            <img src="~/Customs/img/logo.png" alt="">
                        </a>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="search-bar">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-search aa"></i></span>
                                </div>

                                <input type="text" class="form-control" placeholder="Search ...">

                                <div class="input-group-append">
                                    <button class="input-group-text">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-12">
                        <div class="user-icons mt-2">
                            <div class="row text-center">
                                <div class="col-4">
                                    <div class="wish-list" id="wish-list">
                                        <i class="far fa-heart ico"></i>
                                        <span class="badge badge-danger">2</span>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="cart" id="cart">
                                        <i class="fas fa-shopping-cart ico"></i>
                                        <span class="badge badge-danger">@n</span>
                                    </div>
                                </div>

                                <div class="col-4">
                                    @if (CurrentUser == null)
                                    {
                                        <div class="user" id="user">
                                            <i class="far fa-user ico"></i>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="user">
                                            <i class="far fa-user ico"></i><a href="/User/index">@CurrentUser.Name</a>
                                        </div>
                                        <a class="btn-danger" href="/Register/Logout">Logout</a>
                                    }
                                </div>
                            </div>
                        </div>


                    </div>
                </div>


                <!-- Cart items -->
                <div class="cart-items text-center col-4 p-2" id="cart-items">

                    @if (Session["UserOrder"] != null)
                    {
                        foreach (var item in (List<E_commerce_Project.Models.OrderDetails>)Session["UserOrder"])
                        {
                            <div class="categ my-3">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="top-categ-img px-1">
                                            <img src="@item.Product.Image" alt="" class="img-fluid" style="width:50px;
                                                     height:50px">
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <div class="top-categ-content pt-1">
                                            <h5 class="pb-2 m-0">
                                                <a href="">@item.Product.Name</a>
                                            </h5>
                                            <p class="m-0">
                                                <span>$@item.Product.Price</span>
                                            </p>
                                            <div class="delete">
                                                <a href=""><i class="far fa-trash-alt del"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    }
                    <hr>
                    <div class="show-more px-3 py-2">
                        <a href="./cart.html">Show More</a>
                    </div>
                </div><!-- End Cart items -->
                <!-- Wish List -->
                <div class="wish-list-items text-center col-4 px-2" id="wish-list-items">
                    <div class="categ my-3">
                        <div class="row">
                            <div class="col-5">
                                <div class="top-categ-img px-1">
                                    <img src="~/Customs/img/top-category/3.png" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="top-categ-content pt-1">
                                    <h5 class="pb-2 m-0">
                                        <a href="">Fusion Backpack</a>
                                    </h5>
                                    <p class="m-0">
                                        <span>$100.00</span>
                                    </p>
                                    <div class="delete">
                                        <a href=""><i class="far fa-trash-alt del"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="categ my-3">
                        <div class="row">
                            <div class="col-5">
                                <div class="top-categ-img px-1">
                                    <img src="~/Customs/img/top-category/3.png" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="top-categ-content pt-1">
                                    <h5 class="pb-2 m-0">
                                        <a href="">Fusion Backpack</a>
                                    </h5>
                                    <p class="m-0">
                                        <span>$100.00</span>
                                    </p>
                                    <div class="delete">
                                        <a href=""><i class="far fa-trash-alt del"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="show-more px-3 py-2">
                        <a href="./wishlist.html">Show More</a>
                    </div>
                </div><!-- End Wish List -->
                <!-- Login And register tabs -->

                <div class="user-tabs py-3 col-4" id="log-regi">
                    <!-- tabs -->
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="/Register/Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="/Register/Register">register</a>
                        </li>

                    </ul>

                    <!-- Tab Content -->
                    <div class="tab-content">
                        <div class="tab-pane container active" id="login">
                            <!-- Login Tab -->
                            @Html.Action("Login", "Register")
                        </div>
                        <!-- register -->
                        <div class="tab-pane container fade" id="register">

                           @*@Html.Action("Register","Register")/**@

                            <!-- Login Tab -->
                        </div>
                    </div>
                </div>  <!-- End Login And Register Tab-->
            </div><!-- End First Header Row-->
        </div><!-- End First Header-->

        <hr>

        <!-- Second Header-->
        <div class="second-header">
            <div class="row">

                <div class="col-lg-7 col-6">
                    <div class="category-nav">

                        <nav class="navbar navbar-expand-lg p-0 " data-toggle="collapse"
                             data-target="#category">

                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#category" aria-controls="navbarNav" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span class="fas fa-bars"></span>
                            </button>
                            <div class="collapse navbar-collapse justify-content-start" id="category">
                                @{
                                    var category = new E_commerce_Project.DAL.CategoryDAL().GetAll();
                                    if (category.Any())
                                    {
                                        <ul class="navbar-nav categ-nav">
                                            @foreach (var item in category)
                                            {
                                                <li class="nav-item">
                                                    <a class="nav-link" href="index.html">
                                                        <i class="fas fa-arrow-right categ-ico"></i> @item.Name
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    }
                                }

                            </div>
                        </nav>

                    </div>
                </div>

                <div class="col-lg-5 col-6">
                    <div class="menu">
                        <nav class="navbar navbar-expand-lg p-0 justify-content-end" data-target="#navbar" data-toggle="collapse">

                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbar" aria-controls="navbarNav" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span class="fas fa-bars"></span>
                            </button>
                            <div class="collapse navbar-collapse justify-content-end" id="navbar">

                                <ul class="navbar-nav ">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="/Home/Index" class="active">Home</a>
                                    </li>
                                    <li class="nav-item shop" id="shop">
                                        <a class="nav-link" href="/Shop/Index">shop</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/About/Index">About us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Contact/Index">contact</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="faq.html">Faq</a>
                                    </li>
                                </ul>

                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div><!-- End second Header-->
        </div>
    </header>
    @RenderBody()
<footer>
    <div class="services py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-6">
                    <div class="serv px-2">
                        <div class="row">
                            <div class="col-3">
                                <div class="icon-serv">
                                    <i class="fas fa-shipping-fast"></i>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="content-serv">
                                    <h6>FREE SHIPING</h6>
                                    <p>Orders over $100</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-6">
                    <div class="serv px-2">
                        <div class="row">
                            <div class="col-3">
                                <div class="icon-serv">
                                    <i class="fas fa-undo"></i>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="content-serv">
                                    <h6>FREE RETURN</h6>
                                    <p>Within 30 days returns</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-6">
                    <div class="serv px-2">
                        <div class="row">
                            <div class="col-3">
                                <div class="icon-serv">
                                    <i class="fas fa-credit-card"></i>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="content-serv">
                                    <h6>SUCURE PAYMENT</h6>
                                    <p>100% secure payment</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-6">
                    <div class="serv px-2">
                        <div class="row">
                            <div class="col-3">
                                <div class="icon-serv">
                                    <i class="fas fa-hand-holding-usd"></i>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="content-serv">
                                    <h6>BEST PREICE</h6>
                                    <p>Guaranteed price</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="last-footer py-4">
        <div class="container">
            <div class="row ">
                <div class="col-lg-3  col-6 py-3">
                    <div class="about">
                        <a href="./index.html">
                            <img src="~/Customs/img/logo.png" alt="" class="pb-3">
                        </a>
                        <ul class="list-group col-12 list-unstyled">
                            @{
                                var contact = new E_commerce_Project.DAL.ContactUSDAL().GetAll().FirstOrDefault();
                                if (contact != null)
                                {
                                    <div class="row">
                                        @if (!string.IsNullOrEmpty(contact.phone))
                                        {
                                            <li class="col-12 py-2">
                                                <div class="row">
                                                    <i class="fas fa-phone-volume col-3 ico"></i>
                                                    <span class="col-9">@contact.phone</span>
                                                </div>
                                            </li>
                                        }
                                        <li class="col-12 py-2">
                                            <div class="row">
                                                <i class="fas fa-envelope-open-text col-3 ico"></i>
                                                <span class="col-9">@contact.Email</span>
                                            </div>
                                        </li>
                                        <li class="col-12 py-2">
                                            <div class="row">
                                                <i class="fas fa-map-marker-alt col-3 ico"></i>
                                                <span class="col-9"> @contact.address/2</span>
                                            </div>
                                        </li>
                                    </div>
                                }
                            }

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3  col-6 py-3">
                    <div class="account">
                        <h3 class="pb-3">MY ACCOUNT</h3>

                        <ul class="list-group col-12 list-unstyled">
                            <li class=""><a href="">Sitemap</a></li>
                            <li class=""><a href="">Privacy Policy</a></li>
                            <li class=""><a href="">Your Account</a></li>
                            <li class=""><a href="">Adanced Search</a></li>
                            <li class=""><a href="">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3  col-6 py-3">
                    <div class="pay-ship">
                        <h3 class="pb-3">PAYMENT & SHIPPING</h3>

                        <ul class="list-group col-12 list-unstyled">
                            <li class=""><a href="">Terms Of Use</a></li>
                            <li class=""><a href="">Payment Method</a></li>
                            <li class=""><a href="">Locations We Ship To</a></li>
                            <li class=""><a href="">Shipping Guide</a></li>
                            <li class=""><a href="">Estimated Delivery Time</a></li>
                        </ul>

                    </div>
                </div>

                <div class="col-lg-3 col-6 py-3">
                    <div class="customr">
                        <h3 class="pb-3">CUSTOMER SERVICE</h3>

                        <ul class="list-group col-12 list-unstyled">
                            <li class=""><a href="">Shipping Policy</a></li>
                            <li class=""><a href="">Compensation First</a></li>
                            <li class=""><a href="">My Account</a></li>
                            <li class=""><a href="">Return Policy</a></li>
                            <li class=""><a href="">Contact Us</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Customs/css/bootstrap/js/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Customs/js/main.js"></script>
    <script src="~/Customs/js/owl/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
    <script src="~/Customs/webfont/fontawesome/js/all.min.js"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
