-@model List<E_commerce_Project.Models.UserAddress>
@if (Model.Any())
{
    <h2>Info.</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>USerName</th>
                <th>Address</th>
                <th>Phone</th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.User.Name</td>
                    <td>@item.Address</td>
                    <td>@item.phone</td>
                    <td>
                        <button class="btn btn-info" onclick="Details(@item.ID)">Details</button>
                        <button class="btn btn-danger" onclick="Delete(@item.ID)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="alert alert-warning">No Data Found</p>
}
<script>
    function Details(id) {
        $.ajax({
            url: '/Admin/UserAddress/DetailesUserAddress',
            type: 'Get',
            data: { id: id }
        }).done(function (data) {
            $('#form').html(data);
            $('#form0 input').attr('disabled', true);
        }).fail(function (data) {
            alert("error in show Details");
        });
    }
    function Delete(id) {
        $.ajax({
            url: '/Admin/UserAddress/Delete',
            type: 'Get',
            data: { id: id }
        }).done(function (data) {
            LoadData();
        }).fail(function (data) {
            $('#alert').html('Error in Delete !!');
        });
    }
</script>
