@model E_commerce_Project.ViewModel.CategoryVM
    @{ 
        string FormName = ViewBag.FormName;
    }
@using (Ajax.BeginForm(FormName, 
    new AjaxOptions { OnSuccess="onsuccess", OnFailure = "onfailure" }))
{
    <div class="container">
        <div class="row">
            @Html.HiddenFor(z => z.ID)
            @Html.HiddenFor(z => z.CreatedBy)
            @Html.HiddenFor(z => z.CreationDate)
            <div class="form-group">
                @Html.LabelFor(z => z.Name)
                @Html.TextBoxFor(z => z.Name, new { placeholder = "Enter Name Category", @class = "form-control" })
                @Html.ValidationMessageFor(z => z.Name)
            </div>
            @if (FormName == "EditCategory")
            {
                <button type="submit" class="btn btn-info"> Save The Edit</button>
                <a href="/Admin/Category" class=" btn btn btn btn btn btn-success">go to Add</a>
            }
            else if(FormName == "PostCategory")
            {
                <button type="submit" class="btn btn-success">Save</button>
                <button type="reset" class="btn btn-group-sm">Clear</button>
            }
        </div>
    </div>
}
